<p>
  <strong>Inventory Item</strong>
  <%= @inventory_item.item_name %>
</p>

<p>
  <strong>Amount</strong>
  <%= @inventory_item.amount %>
</p>

<%= link_to 'Home', root_path %>
<%= link_to 'Inventory Items', inventory_items_path %>
